
#eventsTable {
  background-image: url(http://api.thumbr.it/whitenoise-1000x2000.png?background=ffffffff&noise=bdbdbd&density=75&opacity=15);
  font-family: Helvetica, sans-serif;
  color: #6c6c6c;
}

th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;

}




